body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExOGU2Zm96ZmlpZ3U0eWt4anF0OHdmZ2ljNW14eGhpMWhqN2gxbXU3diZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3ov9k1173PdfJWRsoE/giphy.webp");
  background-repeat: no-repeat;
  background-size: 100% 110%;
  background-color: #111319;
  height: 100vh;
}
.made-jackblackx {
  pointer-events:none;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10px;
  font-family: monospace;
  color: #858585;
}
body::-webkit-scrollbar {
  width: 7px;
  background-color: #111319;
}
body::-webkit-scrollbar-thumb {
  width: 7px;
  background-color: #222630;
  border-radius: 10px;
}
::selection {
  background: #646b7a80;
}
.container {
  max-width: 1400px;
  /*margin: 20px;*/
  /* border-radius: 10px; */
  display: flex;
  /* padding: 20px; */
  background-color: rgb(21 21 24 / 48%);
  flex-direction: column;
  backdrop-filter: blur(5px);
  color: white;
  user-select: none;
  height: 100vh;
  margin: 0 auto;
  justify-content: center;
}

h1 {
  text-align: center;
  color: #333;
  margin: 0;
}
img {
  user-select: none;
}
.first-img {
  width: 40px;
  height: 53.45px;
  background: #36354a;
  border: 1px solid transparent;
  cursor: pointer;
}
.first-img:hover {
  border: 1px solid #797f9c;
}

.tournament-bracket {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 0 20px;
}

.groups {
  width: 22%;
}

.group {
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
}
.group.right .sharp-group {
  transform: rotateY(180deg);
}
.group.right {
  display: flex;
  flex-direction: row-reverse;
}

.group h2 {
  margin-top: 0;
  font-size: 16px;
  color: #333;
}

.team {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  border: 1px solid rgba(154, 169, 184, 0.24);
  background: rgba(4, 4, 26, 0.48);
  border-radius: 7px;
  width: 125px;
  max-width: 125px;
  cursor: pointer;
  transition: 0.2s;
}
.team.d2 {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  border: 1px solid rgba(154, 169, 184, 0.24);
  background: rgba(4, 4, 26, 0.48);
  border-radius: 7px;
  flex-direction: row-reverse;
}

.team img {
  width: 40px;
  margin-right: 8px;
  border-radius: 5px;
}
.team.d2 img {
  margin-left: 8px;
  margin-right: 0;
}

.match img {
  width: 60px;
  border-radius: 8px;
}
.match-semi img {
  width: 80px;
  border-radius: 8px;
}
.final-g img {
  width: 100px;
  border-radius: 8px;
}
.winner img {
  width: 150px;
  border-radius: 8px;
}

.team span {
  font-size: 14px;
}

.quarter-finals,
.semi-finals {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 13%;
  align-items: center;
}

.match {
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.final-g,
.match-semi {
  transition: 0.2s;
  cursor: pointer;
}

.final-g:hover,
.match-semi:hover,
.match:hover {
  transform: scale(1.1);
}

.winner-final {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}
.final {
  width: 17%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#winner {
  background-color: #fff3cd;
  border-radius: 5px;
  padding: 15px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
}
.sharp-group:after {
  content: " ";
  display: block;
  height: 1px;
  width: 6px;
  position: absolute;
  top: 50%;
  right: calc(0px - 6px - 1px);
  background: rgba(154, 169, 184, 0.64);
}
.sharp-group {
  display: flex;
  position: relative;
  border-radius: 0 10px 10px 0;
  border: 1px solid rgba(154, 169, 184, 0.64);
  border-left: none;
  min-width: 6px;
  height: 70px;
  margin: auto 0;
}
.semi-finals.right-semi .group,
.quarter-finals.right-quarter .group {
  gap: 20px;
}
.semi-finals.left-semi .group,
.quarter-finals.left-quarter .group {
  gap: 20px;
}
.semi-finals.right-semi .group .sharp-group {
  height: 255px;
}
.semi-finals.left-semi .group .sharp-group {
  height: 255px;
}
.quarter-finals.left-quarter .group .sharp-group {
  height: 125px;
}
.quarter-finals.right-quarter .group .sharp-group {
  height: 125px;
}
.quarter-finals.left-quarter .group-team {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.quarter-finals.right-quarter .group-team {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.semi-finals.left-semi .group-team {
  display: flex;
  flex-direction: column;
  gap: 144px;
}
.semi-finals.right-semi .group-team {
  display: flex;
  flex-direction: column;
  gap: 144px;
}
.selected {
  background-color: #4caf50;
  color: white;
}
/**/
.search-la-img.open {
  display: flex;
}

.search-la-img {
  position: fixed;
  z-index: 10;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #111319db;
  color: white;
  height: 100%;
  width: 100%;
}
.conte-srch-2e {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  height: 80%;
  background: #222631bd;
  backdrop-filter: blur(3px);
  border-radius: 20px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search-container {
  margin-bottom: 20px;
}

input[type="text"] {
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  color: white;
  font-size: 16px;
  -webkit-box-align: center;
  align-items: center;
  width: 450px;
  outline: none;
  background-color: #2c313fbd;
  padding: 9px 16px;
  border-radius: 25px;
  border: 2px solid #363c4ebd;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
  font-weight: 500;
}
input#searchInput:hover {
  outline: none;
}

button {
  padding: 8px 12px;
  margin-left: 5px;
  cursor: pointer;
  border: none;
  background-color: #5c6bc0;
  color: #fff;
  border-radius: 4px;
}

.image-results {
  gap: 30px;
  justify-content: center;
  overflow: auto;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  padding: 20px;
}
.image-results::-webkit-scrollbar {
  width: 10px;
  background: none;
  border-radius: 50px;
}
.image-results::-webkit-scrollbar-thumb {
  width: 5px;
  background: #696a83;
  border-radius: 50px;
}

.image-card:hover {
  transform: scale(1.1);
}
.image-card {
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.image-card img {
  max-width: 100%;
  border-radius: 8px;
}
.close-srch {
  position: absolute;
  top: 20px;
  right: 20px;
  font-family: monospace;
  font-size: 18px;
  cursor: pointer;
}
.team input[type="text"] {
  width: 100%;
  padding: 0 4px 0 0;
  border: none;
  background: none;
  box-shadow: none;
  font-family: system-ui;
  border-radius: 0;
}
.team.d2 input[type="text"] {
  direction: rtl;
}
#user-1:hover {
  border: 1px solid #4caf50;
}
#user-2:hover {
  border: 1px solid #fad647;
}
#user-3:hover {
  border: 1px solid #8768d4;
}
#user-4:hover {
  border: 1px solid #ff4a2b;
}
#user-5:hover {
  border: 1px solid #af4ca8;
}
#user-6:hover {
  border: 1px solid #ff790b;
}
#user-7:hover {
  border: 1px solid #4c00ff;
}
#user-8:hover {
  border: 1px solid #00ff08;
}
#user-9:hover {
  border: 1px solid #34d0ff;
}
#user-10:hover {
  border: 1px solid #ffe100;
}
#user-11:hover {
  border: 1px solid #ff00c8;
}
#user-12:hover {
  border: 1px solid #ff003c;
}
#user-13:hover {
  border: 1px solid #5b4caf;
}
#user-14:hover {
  border: 1px solid #ff7398;
}
#user-15:hover {
  border: 1px solid #a27200;
}
#user-16:hover {
  border: 1px solid #ff8a73;
}
.logo-cnt-lz img {
  height: 70px;
  position: absolute;
  top: 0px;
}

.logo-cnt-lz {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  position: relative;
}
